@font-face {
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  src:
    url("../assets/fonts/BebasNeue-Regular.woff") format("woff"),
    url("../assets/fonts/BebasNeue-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "PT Root UI", sans-serif;
  font-style: normal;
  src:
    url("../assets/fonts/PT-Root-UI_Regular.woff") format("woff"),
    url("../assets/fonts/PT-Root-UI_Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "PT Root UI", sans-serif;
  font-style: normal;
  src:
    url("../assets/fonts/PT-Root-UI_Medium.woff") format("woff"),
    url("../assets/fonts/PT-Root-UI_Medium.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "PT Root UI", sans-serif;
  font-style: normal;
  src:
    url("../assets/fonts/PT-Root-UI_Bold.woff") format("woff"),
    url("../assets/fonts/PT-Root-UI_Bold.woff2") format("woff2");
}
